<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="Rad" connectionString="data source=(local); Initial Catalog=Bank_System;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RADConnectionString" connectionString="Data Source=(local);Initial Catalog=RAD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString2" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString3" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString4" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString5" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString6" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString7" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString8" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString9" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString10" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString11" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Bank_SystemConnectionString12" connectionString="Data Source=(local);Initial Catalog=Bank_System;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService2Soap" />
        <binding name="WebService3Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1985/Login.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:1985/Customer.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService2Soap" contract="ServiceReference2.WebService2Soap"
        name="WebService2Soap" />
      <endpoint address="http://localhost:1985/Account.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService3Soap" contract="ServiceReference3.WebService3Soap"
        name="WebService3Soap" />
    </client>
  </system.serviceModel>
</configuration>
